<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">生态系统</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>帮助</h4></li>
    <li><ul>
        <li><a href="https://github.com/DML308/COStream/issues" class="nav-link" target="_blank">论坛</a></li>
    </ul></li>
    <li><h4>工具</h4></li>
    <li>
      <ul>
        <li><a href="https://try.costream.site" class="nav-link" target="_blank">在线运行环境</a></li>
        <li><a href="https://costream.site" class="nav-link" target="_blank">代码高亮插件</a></li>
      </ul>
    </li>
    <li><h4>核心组件</h4></li>
    <li><ul>
<!--    via 陈铭涛-->
      <li><a href="#" class="nav-link" target="_blank">GPU运算</a></li>
<!--    via 李平然-->
      <li><a href="#" class="nav-link" target="_blank">动态调度</a></li>
<!--    via null-->
      <li><a href="#" class="nav-link" target="_blank">图划分算法</a></li>
    </ul></li>
    
    <li><h4>资源列表</h4></li>
    <li><ul>
      <li><a href="https://github.com/DML308/COStream" class="nav-link" target="_blank">官方仓库</a></li>
    <li><h4>友情链接</h4></li>
    <li><ul>
        <li><a href="http://www.hust.edu.cn" class="nav-link" target="_blank">华中科技大学</a></li>
        <li><a href="http://media.hust.edu.cn" class="nav-link" target="_blank">DML实验室</a></li>
        <li><a href="http://faculty.hust.edu.cn/yujunqing/zh_CN/index.htm" class="nav-link" target="_blank">招生工作</a></li>
        </ul></li> 
    </ul></li>
  </ul>
</li>
