<li class="nav-dropdown-container language">
  <a class="nav-link">多语言</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://costream.site/<%- page.path %>" class="nav-link" target="_blank">English</a></li>
    <li><a href="https://cn.costream.site/<%- page.path %>" class="nav-link" target="_blank">简体中文</a></li>
  </ul>
</li>
